.canvas-wrap{
    width: 1500px;
    max-width: 100%;
    position: relative;
    padding: 0;
    box-sizing: content-box;
}
.canvas_warp:before{
    content:"";
    display: block;
    padding-top: 50%;
}
.canvas{
    position: absolute;
    left:0;
    top:0;
    border: 0;
    max-width:100%;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

.canvas{
    /* width: 421px;
    height: 296px; */
    border: solid 3px #f00;
  }

/* #canvas-forward{
    border: solid 2px #005;
} */

.buttons{
    position: relative;
    top: 720px
    /* border: solid 4px #000 */
} 